<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
            Registro de usuario
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form action="" [formGroup]="userForm" class="Form" (ngSubmit)="submitUser()">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Nombres completos</mat-label>
                <input matInput formControlName="name" placeholder="Nombres completos" required autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Email" required autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Rol</mat-label>
                <mat-select formControlName="rol_id" [compareWith]="compareSelect">
                  <mat-option *ngFor="let rol of roles" [value]="rol">{{ rol.nombre }}</mat-option>
                </mat-select>
              </mat-form-field>
            <mat-form-field *ngIf="!this.userForm.controls['id'].value" appearance="outline" class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="password" placeholder="Contraseña" required autocomplete="off">
            </mat-form-field>
            <mat-form-field *ngIf="!this.userForm.controls['id'].value" appearance="outline" class="example-full-width">
                <mat-label>Confirmar Contraseña</mat-label>
                <input matInput formControlName="password_confirmation" placeholder="Contraseña" required autocomplete="off">
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" [disabled]="!userForm.valid">
                Guardar
            </button>
            <button mat-raised-button color="accent" routerLink="/users">
                Volver
            </button>
        </form>
    </mat-card-content>
</mat-card>