<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" 
        aria-label="Example icon-button with menu icon" (click)="toggle(drawer)">
        <mat-icon>menu</mat-icon>
    </button>
    <span><a href="" routerLink="/" mat-button>Loopsy</a></span>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="loggedIn">
        <mat-nav-list>
            <mat-selection-list #options [multiple]="false">
                <p style="padding: 5px;">
                   Bienvenido usuario al Sistema Loopsy.
                </p>
                <mat-list-option *ngFor="let route of routes" routerLink="{{ route.route }}">
                    {{ route.name }}
                </mat-list-option>
                <mat-list-option (click)="logout()">
                    LOGOUT
                </mat-list-option>
            </mat-selection-list>
            <mat-accordion>
                <mat-expansion-panel class="parametersPanel">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                        Parametros
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-selection-list #options2 [multiple]="false">
                            <mat-list-option> Roles </mat-list-option>
                    </mat-selection-list>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-nav-list>
    </mat-drawer>
  
    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>